main {
  position: relative;
  margin-left: 150px;
}

.UserActivity {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 835px;
  height: 320px;
  border-radius: 10px;
  background-color: #fbfbfb;
}

.UserPerformance {
  width: 258px;
  height: 263px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282d30;
  border-radius: 10px;
}

.userAverage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 263px;
  background-color: #ff0000;
  border-radius: 10px;
}

.userScore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 263px;
  background-color: #ff0000;
  border-radius: 10px;
}

.counters {
  float: right;
  position: absolute;
  right: 0px;
}

.graphs_bottom {
  float: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
